extends layout

block content
    <br> <br>
    - var date = new Date(commande.date_commande)
    - var val = date.getFullYear() + '-' + (((date.getMonth() + 1) < 10) ? '0' : '') + (date.getMonth() + 1) + '-' + (((date.getDate() + 1) < 10) ? '0' : '') + date.getDate()
    - var total = 0;

    h1='Commande n°' + commande.id_commande
    h2='Passée le ' + val
    h3='Elle comporte : '

    ul
    each produit, key in produits
        if commandes_produit[key].taux_remise !== 0
            li= commandes_produit[key].quantite + ' fois le produit "' + produit.libelle + '" à ' + produit.prix_unitaire + '€ avec ' + commandes_produit[key].taux_remise + '% de remise'
        else
            li= commandes_produit[key].quantite + ' fois le produit "' + produit.libelle + '" à ' + produit.prix_unitaire + '€'
        - var sousTotal = (1 - ((commandes_produit[key].taux_remise) / 100)) * produit.prix_unitaire * commandes_produit[key].quantite;
        - total += sousTotal;
        p(style='margin-left: 30px')='Sous total : ' + sousTotal + '€'

    h3='Total de la commande : ' + total + '€'