extends layout

block content
  #container
    h1='Clients :'
    ul
    each client in clients
      li.client(onclick='afficherInfos(#{client.id_client})') #{client.prenom} #{client.nom}

    #detailsClient

    script
      | sessionStorage.setItem('token', "#{token}")

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
  script(src='/javascripts/index.js')
